body{
    background-color: #F7F9FB;
}


h1 {
    text-align: center;
    /* font-family: 'Gravitas One', cursive; */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    background-color:#eae7dc;

}

h2{
    color: #f7f9fb;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #687864;
    text-align: center;
}

h3{
    background-color: #687864;
    opacity: 0.5;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: #eae7dc;
}

h4{
    color: #31708e;
    font-family: 'Open Sans Condensed', sans-serif;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
    font-size: 10pt;
}

.column {
    column-count: 1;
    float: left;
    column-fill: balance;
}
/* Clear the row after */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* .lightingName .column {
    column-count: 3;
    column-fill: balance; 
    column-gap: 100px;
} */

/* <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br> */