h1 {
    text-align: center;
    font-family: 'Gravitas One', cursive;
    font-size: 40px;
}

h4{
    color: mediumblue;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

footer {
    font-size: 10pt;
}

.column {
    column-count: 1;
    float: left;
}

/* .lightingName .column {
    column-count: 3;
    column-fill: balance; 
    column-gap: 100px;
} */

/* <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br> */